<%= render "shared/main_header" %>

<div class="main-container">
    <div class="body-top-wrapper">
        <% if user_signed_in? %>
          <div class="login_user_name">ログイン中 <%= current_user.first_name  %></div>
        <% else %>
          <div class="login_user_name">ログインしていません</div>
        <% end %>
        <% if user_signed_in? && current_user.admin_true == true %>
            <button class="add-schedule-btn">
                +スケジュールを追加
            </button>
        <% end %>
    </div>
    <div id="app">
      <div class="task-calendar-box">
        <div class="task-container">
          test
        </div>
        <div class="gantt-calendar-container">
          test
        </div>
      </div>
    </div>
</div>





<script>
    const app = Vue.createApp({

    }).mount('#app')
</script>