<header>
    <div class="header-wrapper">
        <div class="header-title">ProCon</div>
        <div class="header-nav">
            <ul class="nav-items">
                <li><%= link_to "作業を完了せず戻る" , root_path ,class: "nav-item" %></li>
            </ul>
        </div>
    </div>
</header>