body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: -300px; /* 右端からスタート */
  background-color: #005f6b;
  color: white;
  transition: 0.5s; /* トランジション効果を追加 */
  z-index: 3;
}

.sidebar a:hover {
  color: #f1f1f1;
}

#openButton {
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 20px 0px 0px 20px;
  padding: 10px 20px;
  background-color: #555555;
  color: white;
  cursor: pointer;
  z-index: 4;
  font-size: 10px;
  transition: 0.5s;
  writing-mode: vertical-rl; /* 縦書き（右から左） */
  text-orientation: upright; /* テキストの方向を垂直に保つ */
  white-space: nowrap;
}

#openButton:hover{
  font-weight: bold;
  font-size: 9px;
  opacity: 0.7;
  letter-spacing: 0.5px;
}

.comment_form{
  width: 340px;
  height: 43px;
  position: fixed;
  bottom: 10px;
  display: flex;
  justify-content: center;
}

.comment_input{
  width: 85%;
  height: 40px;
  margin-right: 3px;
  margin-left: 10px;
}

.comment_input{
  border-radius: 10px;
  font-size: 20px;
}

.comment_btn{
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
  font-weight: bold;
  margin-left: 5px;
  background-color: #afafaf;
}

.comment_btn:hover{
  background-color: rgb(183, 217, 231);
}

.comment-box{
  top:0;
  margin: 10px ;
  overflow-y: scroll;
  height:calc(100vh - 70px);
  background-color:#005f6b;
}

.comment_block{
  margin:10px 0px ;
  border-bottom:dashed 2px #03b7d3 ;
}

.comment_name_box{
  display: flex;
}

.comment_name{
  font-weight: bold;
  background-color: #2b7e8a;
  padding: 1px 5px;
  border-radius: 10px;
}