  /* body */
  
  /* body-top */
.main-container{
    width: 100%;
    height: 89vh;
    background-color:white;
}

.login_user_name{
    margin: 5px;
    font-weight: bold;
    color: 	#666666;
    font-size: 20px;
}

.add-lists{
    display: flex;
    font-size: 22px;
}

.add-schedule,
.add-client-info{
    text-decoration: none;
    color:	white;
}

.add-client-info-list,
.add-schedule-list{
    margin: 20px;
    font-weight:bolder;
    padding: 7px;
    border-radius: 25px;
    background-color:#0000CC ;

}

.add-client-info-list:hover,
.add-schedule-list:hover{
    background-color:	#11FFFF;
}


